{:paths ["dev" "src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:git/sha "9c51111dcfead67c52bf3d2cd0facaa415312614"}
        org.babashka/cli {:mvn/version "0.5.40"}}
 
 :aliases {:nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :exec-args {:index "src/advent_of_clerk/index.clj"
                                           :paths-fn advent-of-clerk.index/build-paths}}}}
